$primary-color: darkblue;
$dark-color: #343a40;
$light-color: #f4f4f4;
$danger-color: #dc3545;
$success-color: #28a745;
$auth-sidebar-width: 15rem;
$auth-sidebar-width-alt: -15rem;

// Set text color based on background color
@function set-text-color($bg-color){
  @if (lightness($bg-color) > 55) {
    @return #333;
  } @else {
    @return #fff;
  }
}
// set Background Color
@mixin set-background-color($color){
  background-color: $color;
  color: set-text-color($color);
}

/****************************************************
* Normalize
****************************/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  resize: none;
  text-decoration: none;
  list-style-type: none;
}

img, video{
  width: 100%;
  text-align: center;
}
// Globals
.container{
  margin: auto;
  width: 80%;
  display: block;
}

.clearfix{
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}

.flex-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  @media screen and (max-width: 640px) {
    display: block;
    margin: auto;
    width: 100%;
  }
}
.grid-wrapper{
  display: grid;
  column-gap: 10px;
}
.section{
  padding: 4rem 0rem;
  margin: auto;
  .section-title{
    text-align: center;
    font-size: 2.25rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 1rem auto;
  }
}

// Cards
.card{
  padding: 1rem;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 4px #ccc;
  margin: .75rem .25rem;
  flex-basis: content;
  width: 32%;
  @media screen and (max-width: 760px) {
    width: 100%;
    display: block;
  }
  .card-image{
    text-align: center;
    width: 60%;
    display: block;
    margin: auto;
    margin-bottom: .75rem;
    color: $primary-color;
    max-height: 10rem;
  }
  .card-title{
    font-size: 1.2rem;
    font-weight: bolder;
    text-align: center;
    margin: .25rem auto;
    color: $success-color;
  }
  .card-content{
    text-align: left;
    margin: 1rem auto;
    text-align: center;
  }
  .card-footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
  }

  .card-meta{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    margin: .75rem auto;
  }

  .card-cta{
    display: block;
    margin: 1rem auto;
    width: 80%;
    text-align: center;
    padding: .75rem 1rem;
  }

}

// Credits
.credit{
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 10px;
  padding: 1rem;
  .person{
    border-radius: 50%;
    box-shadow: 0px 2px 3px #eee;
    margin: auto;
  }
  .message{
    padding: 1rem 1.75rem;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    line-height: 1.8;
    .source{
      margin-top: 1.25rem;
      font-weight: bolder;
    }
    .position{
      display: block;
      font-size: .75rem;
      font-style: italic;
    }
  }
}

/****************************************************
* Utility
****************************/

// Paddings & Margins
$sizes: (1, 2, 3, 4);
@each $size in $sizes {
  // All round padding
  .p-#{$size}{
    padding: #{$size}rem;
  }
  // Padding top and bottom
  .py-#{$size}{
    padding: #{$size}rem 0rem;
  }
  // Padding left and right
  .px-#{$size}{
    padding: 0rem #{$size}rem;
  }

  // All round margin
  .m-#{$size}{
    margin: #{$size}rem;
  }
  // Margin top and bottom
  .my-#{$size}{
    margin: #{$size}rem auto;
  }
  // margin left and right
  .mx-#{$size}{
    margin: 0rem #{$size}rem;
  }
}

// Alerts
.alert-close{
  float: right;
  &::after{
    display: block;
    content: "";
    clear: both;
  }
}
.alert{
  padding: .75rem;
  margin: 1rem auto;
  display: block;
  text-align: left;
  &-dark{
    @include set-background-color($dark-color)
  }

  &-primary{
    @include set-background-color($primary-color)
  }
  &-light{
    @include set-background-color($light-color)
  }
  &-success{
    @include set-background-color($success-color)
  }

  &-danger{
    @include set-background-color($danger-color)
  }
}

// Backgrounds
.bg{
  &-dark{
    @include set-background-color($dark-color)
  }

  &-primary{
    @include set-background-color($primary-color)
  }
  &-light{
    @include set-background-color($light-color)
  }
  &-success{
    @include set-background-color($success-color)
  }

  &-danger{
    @include set-background-color($danger-color)
  }
}


// .Buttons
.btn{
  border-radius: 6px;
  cursor: pointer;

   &-dark{
    @include set-background-color($dark-color);
    &:hover{
      background-color: lighten($dark-color, 5%);
    }
  }
  &-primary{
    @include set-background-color($primary-color);
    &:hover{
      background-color: lighten($primary-color, 5%);
    }
  }
  &-light{
    @include set-background-color($light-color);
    &:hover{
      background-color: lighten($light-color, 5%);
    }
  }
  &-success{
    @include set-background-color($success-color);
    &:hover{
      background-color: lighten($success-color, 5%);
    }
  }
}

// Forms
.form{
  input, select{
    padding: .5rem .6rem;
  }
  .form-group{
    margin: 1rem 0rem;
    label{
      display: block;
      margin-bottom: .5rem;;
    }
    .form-control{
      width: 100%;
      border: 1px solid $dark-color;
      outline: 0;
      padding: 10px 12px;
    }
    .form-control[type='file']{
      border: none;
    }
   
  }
}


// Tables
table.table{
  width: 100%;
  display: block;
  margin: auto;
  overflow: scroll;

  thead{
    tr{
      background-color: #ddd;
      th{
        padding: 1rem;
      }
    }
  }

  tbody{
    tr{ 
      padding: 2rem 0rem;
      text-align: left;
      &:nth-of-type(even) {
        background-color: $light-color;
      }
    }

    td{
      padding: 1rem;
      height: 12px;
    }
  }
}

// Texts
.text{
  &-lead{
    font-size: 3rem;
    font-weight: bolder;
    margin: .75rem auto;
  }
  &-sub{
    font-size: 1.2rem;
    margin: .25rem auto;
  }
  &-dark{
    @include set-background-color($dark-color)
  }

  &-primary{
    @include set-background-color($primary-color);
    font-size: 2rem;
  }
  &-light{
    @include set-background-color($light-color)
  }
  &-success{
    @include set-background-color($success-color)
  }

  &-danger{
    @include set-background-color($danger-color)
  }
}


/****************************************************
* Next one here
****************************/