@import 'config.scss';

// 
.start-btn{
  display: block;
  margin: 1.25rem auto;
  text-align: center;
  padding: 1.75rem 1rem;
  font-weight: bold;
}
.clip{
    // clip-path: polygon(0% 0%, 75% 0%, 90% 0, 40% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0, 100% 67%, 80% 100%, 0% 100%);
    background-color: $light-color;  
    width: 100%;
    padding: 7rem 0rem;
}
// Navbar
#navbar-toggler{
  display: none;
}
#navbar-toggler:checked ~ .container .navlinks{
    display: block;
    float: none;
    padding-top: 1rem;
    &::before{
      display: block;
      clear: both;
      content: "";
    }
    .navlink{
      display: block;
      padding: .75rem 0.25rem;
      margin: auto;
      text-align: left;
    }
    
}
.navbar{
  display: block;
  padding: .75rem 0rem;
  // position: fixed;
  width: 100%;
  // top: 0;
  z-index: 111;
  .logo, .navlinks{
    display: inline;
    color: $light-color;
  }
  .logo{
    float: left;
    .logo-name{
      font-size: 2rem;
      font-weight: 900;
      letter-spacing: 1px;
    }
  }

  .navlinks-toggler{
    display: none;
  }

  .navlinks{
    float: right;
    line-height: 2.8;
    .navlink{
      text-decoration: none;
      color: $light-color;
      padding: .25rem;
      margin: auto 1rem;
      cursor: pointer;
      &:hover{
        opacity: .8;
      }
    }
  }
  
}


// baneer
.banner{
  width: 100%;
  height: 90vh;
  // max-height:;
  position: relative;
  background-image: url(/img/learning.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .overlay{
    width: 100%;
    height: 100%;
    background-color: $dark-color;
    position: absolute;
    z-index: 9;
    left: 0px;
    top: 0px;
    opacity: .7;
    .banner-content, .banner-action-buttons{
      width: 70%;
      display: block;
      margin: auto;
    }
    .banner-content{
      text-align: left;
      color: $light-color;
      padding: 0.75rem 1rem;
    }
    .banner-action-buttons{
      text-align: center;
      .btn{
        padding: 1rem 1.75rem;
        margin: auto 1rem;
        font-weight: bolder;
        font-size: 1.25rem;
      }
    }
  }
}


.home-cta{
  background-color: $dark-color;
    .home-cta-grid{
      grid-template-columns: 2fr 3fr;
        .home-cta-content{
          margin-left: 1rem;
          width: 100%;
          padding: 0rem 1.75rem;
          .btn{
            padding: 1.25rem 1.75rem;
            font-size: 1.2rem;
            font-weight: bolder;
          }

        }
    }
}

// Signup & Login
#signup-form, #login-form{
  display: block;
  width: 75%;
  @media (max-width: 480px){
    width: 100%;
  }

  input{
    border: 1px solid #ccc;
    outline: none;
    box-shadow: 0 0 2px #ccc;
    padding: .75rem .5rem;
  }
}
// Courses
.search-input{
  padding: 1rem 1.25rem;
  width: 100%;
  display: block;
  font-size: 1.75rem;
  margin: 1rem auto;
  text-align: left;
  border: none;
  &:focus{
    background-color: $dark-color;
    color: $light-color;
  }
}

.course-card-flex-wrapper{
  // TODO
  // Look for number of items to display per row
  flex-direction: row;
  flex-wrap: wrap;
  .course-card{
    flex-basis: 25%;
  }
  .price{
    .price-figure, .price-sale{
      display: block;
      text-align: center;
      margin: .25rem auto;

    }
    .price-sale{
      text-decoration: line-through;;
    }
  }
  .course-card-cta{
    
    .buynow-btn , .add2cart-btn{
      display: block;
      margin: 1rem auto;
      text-align: center;
      padding: 1rem;
    }
  }
}
.course-card-cta *{
      display: block;
      margin: 1rem auto;
      text-align: center;
      padding: 1rem;

}
// Classroom
.classroom-wrapper{
  display: block;
  width: 70%;
  height: 100vh;
  margin: auto;
  header{
    display: block;
    position: fixed;
    top: 72px; //Navbar height
    background-color: #fff;
    
    width: 70%; //same as .classroom-wrapper
    .video-player{
      width: 100%;
      height: 16rem;
      background-color: #a8a8a8;
      margin: auto;
      text-align: center;
    }
    .course-title{
      padding: .75rem .5rem;
    }
    .classroom-actions{
      display: block;
      overflow-x: scroll;
      padding: .75rem .5rem;

      li{
        display: inline;
        cursor: pointer;
        text-align: left;
        margin: auto .25rem;
        a{
          color: $dark-color;
        }
      }
    }
  }
  .lesson-playlist{
    display: block;
    width: 100%;
    margin: auto;
    padding-top: 360px; // height of Navbar plus header player
    .lesson-item{
      // display:grid ;
      // grid-template-columns: 1fr 3fr;
      // grid-column: 10px;
      margin: .25rem auto;
      .lesson-image{
        text-align: center;
        margin: auto;
      }
      .lesson-item-content{
        display: flex;
        justify-content: flex-start;
        padding: 1rem .25rem;
        .lesson-id{
          margin-right: .75rem;
        }
        .lesson-status{
          margin-left: .75rem;
        }

      }
      
      &:hover{
        border: 1px solid $primary-color;
      }
      &.current{
        background-color: $dark-color;
        color: $light-color;
      }

    }
  }
}
.dashboard-actions a{
  display: block;
  margin: .75rem auto;
  cursor: pointer;
  color: $dark-color;
}
// Single course Item page
.course-item{
  .course-overview{
    text-align: left;
  }
  .card{
      .card-list{
      li{
        margin: .85rem 0.75rem;
        text-align: left;
        display: block;
      }
    }
  }
  .course-data{
    span{
      display: inline;
      margin: .75rem 1rem;
    }
  }
}
.btn-block{
  display: block;
  margin: 1rem auto;
}
.btn-sm{
  padding: .75rem 1rem;
}
.btn-md{
  padding: 1rem 1.5rem;
}

.course-info{
  &-icon{
    display: block;
    margin: .5rem auto;
    width: 60%;
    text-align: center;
    @media screen and (max-width: 640px){
      width: 100%;
    }
  }

  &-title, &-content{
    display: block;
    margin: .5rem auto;
    text-align: left;
  }
  &-actions *{
    text-align: center;
  }
  &-meta{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    .meta-item {
      flex-basis: content;
      margin: .5rem;
      padding: .25rem;
      color: $primary-color;
    }

  }
}
// Authenticaed user 
    .auth-container{
       display: block;
       width: 100%;
       text-align: left;
       background-color: $light-color;
       color: $dark-color;
     }
     #auth-sidebar-control{
       display: none;
     }
     #auth-sidebar-control:checked ~ .auth-sidebar {
       left: 0rem;
     }
     #auth-sidebar-control:checked ~ .auth-sidebar-handle {
       opacity: 0;
       user-select: none;
     }
     .auth-sidebar-handle{
       position: absolute;
       top: 1rem;
       left: 1rem;
       cursor: pointer;
     }
     #auth-sidebar-control:checked ~ .auth-main {
       margin-left: $auth-sidebar-width;
     }
     #auth-sidebar-control:checked ~ .auth-main .auth-navbar {
       margin-left: 0rem;
       padding-left: .25rem;
     }
     .auth-sidebar{
       position: fixed;
       left: $auth-sidebar-width-alt;
       top: 0rem;
       height: 100%;
       width: $auth-sidebar-width;
       background-color: $primary-color;
       color: $light-color;
       transition: left .6s ease-in-out;       
     }
     .auth-sidebar-close{
       position: absolute;
       top: 0rem;
       right: 0rem;
       padding: .2rem;
       color: $success-color;
       background-color: transparent;
       cursor: pointer;
     }
     .sidebar-header{
       line-height: 4rem;
       font-size: 1.2rem;
       font-weight: bolder;
       background-color: $primary-color;
      //  opacity: .8;
       color: $light-color;
       text-align: center; 
       a{
         color: $light-color;
       }        
     }
     .sidebar-name{
       font-size: 1.75rem;
     }
    .auth-sidebar .sidebar-actions{
      margin-top: 1.75rem;
    }
    .auth-sidebar .sidebar-actions li{
     text-align: center;
     margin: auto;
     display: block;
     width: 100%;
     transition: padding .8s ease-in;
    }
    .auth-sidebar .sidebar-actions li:hover{
      padding-left: 2.5rem;
    }
    .auth-sidebar .sidebar-actions li .auth-sidebar-link{
      line-height: 1.8rem;
      width: 100%;
      height: 100%;
      display: block;
      margin: auto;
      text-align: left;
      padding: .5rem 0rem .5rem 1.25rem;
      border-bottom: 1px solid $dark-color;
      border-top: 1px solid $primary-color;
      color: $light-color;
      text-decoration: none;
      cursor: pointer;
    }
    .auth-sidebar .sidebar-actions li .auth-sidebar-link .fa{
      margin-right: .5rem;
      text-align: left;
    }

    .auth-main{
      margin: 0rem;
      transition: margin .6s ease-in-out;
    }
    .auth-navbar{
      margin-left: 4rem;
      line-height: 4rem;
      transition: margin .6s ease-in-out;
    }
    .auth-wrapper{
      width: 98%;
      display: block;
      text-align: center;
    }

    // Modal
    .modal.show{
      display: block;
    }
    .modal{
      display: none;
      position: fixed;
      top: 0rem;
      left: 0rem;
      width: 100%;
      height: 100%;
      background-color: $dark-color;
      // opacity: .7;
      z-index: 99;
      overflow: scroll;
    }
    .modal-close{
      float: right;
      background-color: $primary-color;
      color: $light-color;
      font-weight: 700;
      padding: .25rem;
      cursor: pointer;
    }
    .modal-close::after{
      display: block;
      content: "";
      clear: both;
    }
    .modal-container{
      width: 85%;
      display: block;
      margin: 5rem auto;
      background-color: $light-color;
      color: $dark-color;
      padding: 1.25rem;
    }
    .modal-header{
      padding: 1rem .5rem;
      text-align: left;
      font-size: 1.2rem;
      font-weight: 700;
      border-bottom: 1px solid $dark-color;
      box-shadow: 0px 2px 3px $success-color;
    }
    .modal-body{
      margin: 1rem auto;
      text-align: left;
      font-size: 1rem;
    }
    .modal-footer{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-content: center;
      
    }

    .auth-action{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-content: center;
      padding: .5rem .75rem;
    }
.table-image{
  width: 80%;
  max-height: 6rem;
  text-align: center;
}
@import 'mobile.scss';