/****************************************************
* Normalize
****************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  resize: none;
  text-decoration: none;
  list-style-type: none;
}

img, video {
  width: 100%;
  text-align: center;
}

.container {
  margin: auto;
  width: 80%;
  display: block;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.flex-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.grid-wrapper {
  display: grid;
  column-gap: 10px;
}

.section {
  padding: 4rem 0rem;
  margin: auto;
}
.section .section-title {
  text-align: center;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 1rem auto;
}

.card {
  padding: 1rem;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 4px #ccc;
  margin: 0.75rem 0.25rem;
}
.card .card-image {
  text-align: center;
  width: 100%;
  margin-bottom: 0.75rem;
  color: darkblue;
}
.card .card-title {
  font-size: 1.2rem;
  font-weight: bolder;
  text-align: center;
  margin: 0.25rem auto;
  color: #28a745;
}
.card .card-content {
  text-align: left;
  margin: 1rem auto;
}

.credit {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 10px;
  padding: 1rem;
}
.credit .person {
  border-radius: 50%;
  box-shadow: 0px 2px 3px #eee;
  margin: auto;
}
.credit .message {
  padding: 1rem 1.75rem;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
}
.credit .message .source {
  margin-top: 1.25rem;
  font-weight: bolder;
}
.credit .message .position {
  display: block;
  font-size: 0.75rem;
  font-style: italic;
}

/****************************************************
* Utility
****************************/
.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0rem;
}

.px-1 {
  padding: 0rem 1rem;
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem auto;
}

.mx-1 {
  margin: 0rem 1rem;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0rem;
}

.px-2 {
  padding: 0rem 2rem;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem auto;
}

.mx-2 {
  margin: 0rem 2rem;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0rem;
}

.px-3 {
  padding: 0rem 3rem;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem auto;
}

.mx-3 {
  margin: 0rem 3rem;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0rem;
}

.px-4 {
  padding: 0rem 4rem;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem auto;
}

.mx-4 {
  margin: 0rem 4rem;
}

.alert-close {
  float: right;
}
.alert-close::after {
  display: block;
  content: "";
  clear: both;
}

.alert {
  padding: 0.75rem;
  margin: 1rem auto;
  display: block;
  text-align: left;
}
.alert-dark {
  background-color: #343a40;
  color: #fff;
}
.alert-primary {
  background-color: darkblue;
  color: #fff;
}
.alert-light {
  background-color: #f4f4f4;
  color: #333;
}
.alert-success {
  background-color: #28a745;
  color: #fff;
}
.alert-danger {
  background-color: #dc3545;
  color: #fff;
}

.bg-dark {
  background-color: #343a40;
  color: #fff;
}
.bg-primary {
  background-color: darkblue;
  color: #fff;
}
.bg-light {
  background-color: #f4f4f4;
  color: #333;
}
.bg-success {
  background-color: #28a745;
  color: #fff;
}
.bg-danger {
  background-color: #dc3545;
  color: #fff;
}

.btn {
  border-radius: 6px;
  cursor: pointer;
}
.btn-dark {
  background-color: #343a40;
  color: #fff;
}
.btn-dark:hover {
  background-color: #3f474e;
}
.btn-primary {
  background-color: darkblue;
  color: #fff;
}
.btn-primary:hover {
  background-color: #0000a5;
}
.btn-light {
  background-color: #f4f4f4;
  color: #333;
}
.btn-light:hover {
  background-color: white;
}
.btn-success {
  background-color: #28a745;
  color: #fff;
}
.btn-success:hover {
  background-color: #2dbc4e;
}

.form input, .form select {
  padding: 0.5rem 0.6rem;
}
.form .form-group {
  margin: 1rem 0rem;
}
.form .form-group label {
  display: block;
  margin-bottom: 0.5rem;
}
.form .form-group .form-control {
  width: 100%;
  border: 1px solid #343a40;
  outline: 0;
  padding: 10px 12px;
}
.form .form-group .form-control[type=file] {
  border: none;
}

table.table {
  width: 100%;
  display: block;
  margin: auto;
  overflow: scroll;
}
table.table thead tr {
  background-color: #ddd;
}
table.table thead tr th {
  padding: 1rem;
}
table.table tbody tr {
  padding: 2rem 0rem;
  text-align: left;
}
table.table tbody tr:nth-of-type(even) {
  background-color: #f4f4f4;
}
table.table tbody td {
  padding: 1rem;
  height: 12px;
}

.text-lead {
  font-size: 3rem;
  font-weight: bolder;
  margin: 0.75rem auto;
}
.text-sub {
  font-size: 1.2rem;
  margin: 0.25rem auto;
}
.text-dark {
  background-color: #343a40;
  color: #fff;
}
.text-primary {
  background-color: darkblue;
  color: #fff;
  font-size: 2rem;
}
.text-light {
  background-color: #f4f4f4;
  color: #333;
}
.text-success {
  background-color: #28a745;
  color: #fff;
}
.text-danger {
  background-color: #dc3545;
  color: #fff;
}

/****************************************************
* Next one here
****************************/
.start-btn {
  display: block;
  margin: 1.25rem auto;
  text-align: center;
  padding: 1.75rem 1rem;
  font-weight: bold;
}

.clip {
  clip-path: polygon(0% 0%, 100% 0, 100% 67%, 80% 100%, 0% 100%);
  background-color: #f4f4f4;
  width: 100%;
  padding: 7rem 0rem;
}

#navbar-toggler {
  display: none;
}

#navbar-toggler:checked ~ .container .navlinks {
  display: block;
  float: none;
  padding-top: 1rem;
}
#navbar-toggler:checked ~ .container .navlinks::before {
  display: block;
  clear: both;
  content: "";
}
#navbar-toggler:checked ~ .container .navlinks .navlink {
  display: block;
  padding: 0.75rem 0.25rem;
  margin: auto;
  text-align: left;
}

.navbar {
  display: block;
  padding: 0.75rem 0rem;
  width: 100%;
  z-index: 111;
}
.navbar .logo, .navbar .navlinks {
  display: inline;
  color: #f4f4f4;
}
.navbar .logo {
  float: left;
}
.navbar .logo .logo-name {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 1px;
}
.navbar .navlinks-toggler {
  display: none;
}
.navbar .navlinks {
  float: right;
  line-height: 2.8;
}
.navbar .navlinks .navlink {
  text-decoration: none;
  color: #f4f4f4;
  padding: 0.25rem;
  margin: auto 1rem;
  cursor: pointer;
}
.navbar .navlinks .navlink:hover {
  opacity: 0.8;
}

.banner {
  width: 100%;
  height: 80vh;
  max-height: 80vh;
  position: relative;
  background-image: url(/img/learning.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .overlay {
  width: 100%;
  height: 100%;
  background-color: #343a40;
  position: absolute;
  z-index: 9;
  left: 0px;
  top: 0px;
  opacity: 0.7;
}
.banner .overlay .banner-content, .banner .overlay .banner-action-buttons {
  width: 70%;
  display: block;
  margin: auto;
}
.banner .overlay .banner-content {
  text-align: left;
  color: #f4f4f4;
  padding: 1.75rem 1rem;
}
.banner .overlay .banner-action-buttons {
  text-align: center;
}
.banner .overlay .banner-action-buttons .btn {
  padding: 1rem 1.75rem;
  margin: auto 1rem;
  font-weight: bolder;
  font-size: 1.25rem;
}

.home-cta {
  background-color: #343a40;
}
.home-cta .home-cta-grid {
  grid-template-columns: 2fr 3fr;
}
.home-cta .home-cta-grid .home-cta-content {
  margin-left: 1rem;
  width: 100%;
  padding: 0rem 1.75rem;
}
.home-cta .home-cta-grid .home-cta-content .btn {
  padding: 1.25rem 1.75rem;
  font-size: 1.2rem;
  font-weight: bolder;
}

#signup-form, #login-form {
  display: block;
  width: 75%;
}
#signup-form input, #login-form input {
  border: 1px solid #ccc;
  outline: none;
  box-shadow: 0 0 2px #ccc;
  padding: 0.75rem 0.5rem;
}

.search-input {
  padding: 1rem 1.25rem;
  width: 100%;
  display: block;
  font-size: 1.75rem;
  margin: 1rem auto;
  text-align: left;
  border: none;
}
.search-input:focus {
  background-color: #343a40;
  color: #f4f4f4;
}

.course-card-flex-wrapper {
  flex-direction: row;
  flex-wrap: wrap;
}
.course-card-flex-wrapper .course-card {
  flex-basis: 25%;
}
.course-card-flex-wrapper .price .price-figure, .course-card-flex-wrapper .price .price-sale {
  display: block;
  text-align: center;
  margin: 0.25rem auto;
}
.course-card-flex-wrapper .price .price-sale {
  text-decoration: line-through;
}
.course-card-flex-wrapper .course-card-cta .buynow-btn, .course-card-flex-wrapper .course-card-cta .add2cart-btn {
  display: block;
  margin: 1rem auto;
  text-align: center;
  padding: 1rem;
}

.classroom-wrapper {
  display: block;
  width: 70%;
  height: 100vh;
  margin: auto;
}
.classroom-wrapper header {
  display: block;
  position: fixed;
  top: 72px;
  background-color: #fff;
  width: 70%;
}
.classroom-wrapper header .video-player {
  width: 100%;
  height: 16rem;
  background-color: #a8a8a8;
  margin: auto;
  text-align: center;
}
.classroom-wrapper header .course-title {
  padding: 0.75rem 0.5rem;
}
.classroom-wrapper header .classroom-actions {
  display: block;
  overflow-x: scroll;
  padding: 0.75rem 0.5rem;
}
.classroom-wrapper header .classroom-actions li {
  display: inline;
  cursor: pointer;
  text-align: left;
  margin: auto 0.25rem;
}
.classroom-wrapper header .classroom-actions li a {
  color: #343a40;
}
.classroom-wrapper .lesson-playlist {
  display: block;
  width: 100%;
  margin: auto;
  padding-top: 360px;
}
.classroom-wrapper .lesson-playlist .lesson-item {
  margin: 0.25rem auto;
}
.classroom-wrapper .lesson-playlist .lesson-item .lesson-image {
  text-align: center;
  margin: auto;
}
.classroom-wrapper .lesson-playlist .lesson-item .lesson-item-content {
  display: flex;
  justify-content: flex-start;
  padding: 1rem 0.25rem;
}
.classroom-wrapper .lesson-playlist .lesson-item .lesson-item-content .lesson-id {
  margin-right: 0.75rem;
}
.classroom-wrapper .lesson-playlist .lesson-item .lesson-item-content .lesson-status {
  margin-left: 0.75rem;
}
.classroom-wrapper .lesson-playlist .lesson-item:hover {
  border: 1px solid darkblue;
}
.classroom-wrapper .lesson-playlist .lesson-item.current {
  background-color: #343a40;
  color: #f4f4f4;
}

.dashboard-actions a {
  display: block;
  margin: 0.75rem auto;
  cursor: pointer;
  color: #343a40;
}

.course-item .course-overview {
  text-align: left;
}
.course-item .card .card-list li {
  margin: 0.85rem 0.75rem;
  text-align: left;
  display: block;
}
.course-item .course-data span {
  display: inline;
  margin: 0.75rem 1rem;
}

.btn-block {
  display: block;
  margin: 1rem auto;
}

.btn-sm {
  padding: 0.75rem 1rem;
}

.btn-md {
  padding: 1rem 1.5rem;
}

.auth-container {
  display: block;
  width: 100%;
  text-align: left;
  background-color: #f4f4f4;
  color: #343a40;
}

#auth-sidebar-control {
  display: none;
}

#auth-sidebar-control:checked ~ .auth-sidebar {
  left: 0rem;
}

#auth-sidebar-control:checked ~ .auth-sidebar-handle {
  opacity: 0;
  user-select: none;
}

.auth-sidebar-handle {
  position: absolute;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
}

#auth-sidebar-control:checked ~ .auth-main {
  margin-left: 15rem;
}

#auth-sidebar-control:checked ~ .auth-main .auth-navbar {
  margin-left: 0rem;
  padding-left: 0.25rem;
}

.auth-sidebar {
  position: fixed;
  left: -15rem;
  top: 0rem;
  height: 100%;
  width: 15rem;
  background-color: darkblue;
  color: #f4f4f4;
  transition: left 0.6s ease-in-out;
}

.auth-sidebar-close {
  position: absolute;
  top: 0rem;
  right: 0rem;
  padding: 0.2rem;
  color: #28a745;
  background-color: transparent;
  cursor: pointer;
}

.sidebar-header {
  line-height: 4rem;
  font-size: 1.2rem;
  font-weight: bolder;
  background-color: darkblue;
  color: #f4f4f4;
  text-align: center;
}
.sidebar-header a {
  color: #f4f4f4;
}

.sidebar-name {
  font-size: 1.75rem;
}

.auth-sidebar .sidebar-actions {
  margin-top: 1.75rem;
}

.auth-sidebar .sidebar-actions li {
  text-align: center;
  margin: auto;
  display: block;
  width: 100%;
  transition: padding 0.8s ease-in;
}

.auth-sidebar .sidebar-actions li:hover {
  padding-left: 2.5rem;
}

.auth-sidebar .sidebar-actions li .auth-sidebar-link {
  line-height: 1.8rem;
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
  text-align: left;
  padding: 0.5rem 0rem 0.5rem 1.25rem;
  border-bottom: 1px solid #343a40;
  border-top: 1px solid darkblue;
  color: #f4f4f4;
  text-decoration: none;
  cursor: pointer;
}

.auth-sidebar .sidebar-actions li .auth-sidebar-link .fa {
  margin-right: 0.5rem;
  text-align: left;
}

.auth-main {
  margin: 0rem;
  transition: margin 0.6s ease-in-out;
}

.auth-navbar {
  margin-left: 4rem;
  line-height: 4rem;
  transition: margin 0.6s ease-in-out;
}

.auth-wrapper {
  width: 98%;
  display: block;
  text-align: center;
}

.modal.show {
  display: block;
}

.modal {
  display: none;
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  background-color: #343a40;
  z-index: 99;
  overflow: scroll;
}

.modal-close {
  float: right;
  background-color: darkblue;
  color: #f4f4f4;
  font-weight: 700;
  padding: 0.25rem;
  cursor: pointer;
}

.modal-close::after {
  display: block;
  content: "";
  clear: both;
}

.modal-container {
  width: 85%;
  display: block;
  margin: 5rem auto;
  background-color: #f4f4f4;
  color: #343a40;
  padding: 1.25rem;
}

.modal-header {
  padding: 1rem 0.5rem;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 700;
  border-bottom: 1px solid #343a40;
  box-shadow: 0px 2px 3px #28a745;
}

.modal-body {
  margin: 1rem auto;
  text-align: left;
  font-size: 1rem;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

.auth-action {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  padding: 0.5rem 0.75rem;
}

.table-image {
  width: 80%;
  max-height: 6rem;
  text-align: center;
}

@media (max-width: 480px) {
  .container {
    width: 94%;
  }

  .banner .overlay .banner-action-buttons, .banner .overlay .banner-content {
    width: 90%;
  }
}
@media (max-width: 520px) {
  .banner .overlay .banner-action-buttons .btn {
    display: block;
    width: 80%;
    margin: 1.25rem auto;
    text-align: center;
  }
}
@media (max-width: 910px) {
  .navbar .navlinks-toggler {
    display: block;
    float: right;
    line-height: 1.4;
  }
  .navbar .navlinks {
    display: none;
  }
}
@media (max-width: 760px) {
  .flex-wrapper {
    display: block;
    margin: auto;
  }

  .grid-wrapper {
    display: block;
    margin: auto;
  }

  .credit {
    display: block;
  }
  .credit img {
    width: 150px;
    text-align: center;
    margin: auto;
    display: block;
  }

  .classroom-wrapper {
    width: 96%;
    display: block;
    margin: auto;
  }
  .classroom-wrapper .header {
    display: block;
    width: 96%;
    margin: auto;
  }
}

/*# sourceMappingURL=main.css.map */
